body, html {
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
    overflow: hidden;
}

canvas {
    position:absolute;
}

#input {
    width: 100%;
    position: absolute;
}

#run {
    float: right;
}

textarea {
    width: 100%;
    border: none;
    background-color: RGBA(250, 250, 180, 0.5);
}
